.send-order__btn {
    background: var(--clr-blue);
    height: 60px;
    border-radius: 3px;
    border: none;
    color: var(--clr-white);
    font-weight: 600;
    font-size: 22px;
    cursor: pointer;
    width: 100%;
    margin-top: 5%;
    transition: 0.25s;
}
.send-order__btn:hover {
    background: #43d4cf;
    transform: scale(1.05);
    
}
.send-order__btn:active {
    background: #30c44e;
    transform: scale(0.95);transition: 0.1s
}